body {
    margin: 0%;
    font-family: 'Poppins', sans-serif;

}

body,
html {
    height: 90%;
}

.main-header {
    padding-top: 60px;
    color: white;
    text-align: center;
}

.bg {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 90%;
}

.link-button {
    color: white;
    font-weight: 500;
    text-decoration: none;
    background-image: linear-gradient(tomato, red);
    padding: 10px 15px;
    border-radius: 5px;
}

.second-section-div {
    text-align: center;
    padding-top: 20px;
}

.link-div-2 {
    text-align: center;
    padding-top: 5%;
}

.link-button-2 {
    color: gray;
    font-size: larger;
    font-weight: 1000;
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(white, white);
    padding: 10px 15px;
    border-radius: 5px;
}

#different-button {

    border: 2px solid red;
    background-color: white;
    color: grey;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.donate-button-2 {
    text-align: center;
    padding-top: 80px;
}